@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --color-primary: #005daa;
  --color-light-blue: #cae7ff;
  --color-dark-blue: #99caf2;
  --color-light-gray: #f3f3f5;
  --color-dark-gray: #dbdbdb;
}
