@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .bg-light-blue {
    background-color: #cae7ff;
  }

  .bg-light-gray {
    background-color: #f3f3f5;
  }
}
