@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --color-primary: #005daa;
  --color-light-blue: #cae7ff;
  --color-dark-blue: #99caf2;
  --color-light-gray: #f3f3f5;
  --color-dark-gray: #dbdbdb;
}

/* Thin, rounded scrollbar */
::-webkit-scrollbar {
  width: 6px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* track background */
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4; /* thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
