name: Deploy Documentation Site to Github Pages

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material mkdocs ghp-import

      - name: Build Documentation Site
        run: mkdocs build --strict

      - name: Deploy to GitHub Pages
        run: |
          ghp-import -n -p -f site
